[submodule "lib/microrl"]
	path = lib/microrl
	url = https://github.com/Helius/microrl.git
[submodule "lib/tiny-regex-c"]
	path = lib/tiny-regex-c
	url = https://github.com/kokke/tiny-regex-c.git
[submodule "lib/libopencm3"]
	path = lib/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "lib/picoc"]
	path = lib/picoc
	url = https://github.com/jpoirier/picoc.git
[submodule "lib/Si446x"]
	path = lib/Si446x
	url = https://github.com/zkemble/Si446x.git
[submodule "lib/nanopb"]
	path = lib/nanopb
	url = https://github.com/nanopb/nanopb.git
